################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DoAnKNNN-TetrisGame-4TL/v17/.wsuo
/.vs/DoAnKNNN-TetrisGame-4TL/v17/DocumentLayout.json
